[2019-07-23 14:17] igisev opened #1 "Use web-types from symlinked projects"
WebStorm 2019.2 EAP

We try to connect web types to our project as a local file.

1. Created two Vue projects
2. In the first project, we created the `types/web-types.json file`, and in the `package.json` we added the line
`"web-types": "types/web-types.json",`
3. In the second project, we connected the first project via `yarn link`

This does not work.
In the second project there are no visible c

[2019-07-23 14:37] piotrtomiak commented on #1
@igisev It seems that the problem might be with `yarn link`. I will investigate how it works and let you know. It would be great if you can share both project's `package.json` files.

[2019-07-23 15:22] igisev commented on #1
It's my pleasure )
Both projects are created via @vue/cli.
The difference between the two `package.json`:
[code]

I performed "Invalidate caches / Restart" and suddenly it all worked! O_o
The second project began to see `<my-btn>`.

The solution was in rebooting WebStorm =\\
But this only gives rise to new questions.

In the first project in the `types/web-types.json` file, I changed `MyBtn` to `N

[2019-07-23 15:37] piotrtomiak commented on #1
@igisev That's actually great! The changes should definitely be updated, but I haven't foreseen that someone will use `web-types` for his own code development, so the caches are adjusted for more static `node_modules` behaviour :) I'll definitely fix the issue. You can follow up the issue in WebStorm tracker https://youtrack.jetbrains.com/issue/WEB-40166 as well

[2019-07-23 15:42] igisev commented on #1
Thanks so much for the quick response.
We are waiting for bugfix =)

[2019-07-29 11:53] KaelWD opened #2 "$schema"
The example packages have `$schema` as a relative path, but I'm not sure how this translates when distributing a web-types.json with my own package.
Should I:
 - Omit it?
 - Copy the web-types.schema.json to my own project?
 - Something else?

The schema.json has `"$schema": "http://json-schema.org/draft-07/schema#"`, is there a similar URL we can use to refer to this?

[2019-07-29 12:25] VitProg opened #3 "Use web-types.json localy"
WebStorm 2019.2 and PhpStorm 2019.2
Ubuntu 18.04

We are trying to add support for web types to our project as a local file.

About our project:
Typscript, use VueJs for UI.
We have a very unusual use of Vue.
All components wrote on classes with many syntactic sugar.
A component consists of several files: component class, template, styles, and unit test.
Of course, IDE does not understand our comp

[2019-07-29 13:57] piotrtomiak commented on #2
@KaelWD Thanks for your interest in web-types! I am glad to see them integrated into vuetify build. The schema for `web-types.json` is not yet public, as I wanted to gather more feedback before publishing it. WebStorm itself ignores the `$schema` property for now, so you can either skip it or package it with the library for completeness.

[2019-07-29 14:10] piotrtomiak commented on #3
@VitProg As I wrote in the issue #1 I haven't expected web-types to be used for local project development, so there is no support for it. Your timing with this report is perfect as I am working on improvements for 2019.2.1 for web-types and I will include your use case as well. As far as I understood, you are adding `web-types` to you project's own `package.json`, correct?

[2019-07-29 14:12] piotrtomiak commented on #3
YouTrack issue: https://youtrack.jetbrains.com/issue/WEB-40349

[2019-07-29 15:07] piotrtomiak opened #4 "Publish web-types JSON schema"
Once web-types schema matures enough, it should be published to e.g. http://schemastore.org/json/

[2019-07-29 15:08] piotrtomiak commented on #2
@KaelWD Please track issue #4 to get notified when I publish the schema.

[2019-07-29 17:01] VitProg commented on #3
@piotrtomiak, thank you for your quick response.

Yes.

I did a little test - https://github.com/VitProg/web-types--issue-3
He's roughly showing me what I want to achieve.

The root of the project is the `web-types.json` file with the description of the cmp-test component from `src/components/CTest.vue`

In package.json the line "web-types" is extracted: "./web-types.json"`

In the Home component

[2019-07-29 18:07] vaibhavhrt commented on #2
@piotrtomiak any idea how long before it gets published. If won't be too long(week or two) I will hold my PR till then, otherwise we will look into alternatives.

[2019-07-30 09:05] piotrtomiak commented on #2
@vaibhavhrt I think it should be around a week or two; there are some changes needed for better Quasar framework support and once that is done I will publish the first version of schema. Do you miss anything in the web-types schema?

[2019-07-30 15:21] vaibhavhrt commented on #2
No, generating a web-types.json identical (I guess, so that that can't really check line by line) to the one this repo. @KaelWD what should we do?

[2019-08-05 19:23] piotrtomiak commented on #1
@igisev the issue has been fixed. The fix will be available in the 2019.2.1 release and EAPs

[2019-08-05 19:23] #1 closed

[2019-08-05 19:25] piotrtomiak commented on #3
@VitProg I've added support for your use case to 2019.2.1. You will be able to check it out in this weeks EAPs release.

[2019-08-05 19:25] #3 closed

[2019-08-07 16:48] piotrtomiak commented on #4
I've created a pull request: https://github.com/SchemaStore/schemastore/pull/766

[2019-08-07 16:51] piotrtomiak commented on #2
@KaelWD @vaibhavhrt I've updated the schema today to accommodate required changes for Quasar team. Please have a look at the example file I've put into examples folder. I have opened PR to publish schema on schemastore.org and I hope the schema will be available publicly soon. Let me know if you have any questions!

[2019-08-08 06:52] vaibhavhrt commented on #2
@piotrtomiak thanks, I will take a look at it on weekend and update my PR if necessary.

[2019-08-22 15:55] halatas opened #5 "custom vue component tag attribute description in intellisense"
I generated a web-types.json for locally developed vue components and want to include a description for tag attributes. Intellisense works for component and tags. I tried manually adding a description for tag attributes per schema, however it did not work.

* Would you please inform if attribute descriptions are picked up by intellisense?
* If yes, what is required in component to generate this me

[2019-09-02 08:30] piotrtomiak commented on #5
@halatas I am sorry, but we do not support showing documentation within WebStorm yet. This is one of the things I am going to work on in the upcoming weeks. Please follow https://youtrack.jetbrains.com/issue/WEB-40545 .

[2019-09-16 15:22] piotrtomiak commented on #4
Looks like the PR is not going to be accepted for now, so the schema url for now should be:
[code]

[2019-09-16 15:23] piotrtomiak commented on #2
@vaibhavhrt @KaelWD I can't get my schema published to SchemaStore, so please use:
[code]
for now. I think it's a reasonable solution till I am able to have the schema published.

[2019-09-16 15:25] vaibhavhrt commented on #2
Totally forgot about it, @KaelWD  I will update my PR soon.

[2019-09-16 17:15] tmorehouse opened #6 "Vue directive modifier syntax lacking pattern matching"
In our project, we have directives that used modifiers, but are not guaranteed to be an exact string.  Some modifiers are `words`, some could a string of digits (supplied by the user), and others might be a combination of letters and digits:

`v-my-directive.click.d100.o1234`

Where we allow the user to supply an arbitrary value (say after `.d###`, to specify a delay value).

There appears to be n

[2019-09-16 19:05] piotrtomiak commented on #6
@tmorehouse Thanks for looking into this so quickly! Current state of planned support is to provide code completion, but without a validation for modifiers. The idea of having regular expressions for validation of modifiers is really nice and I will think on how to modify current schema to allow this.

[2019-09-16 20:25] tmorehouse commented on #6
A similar issue arrives for scoped slot names that are not known until run-time.  In the case of `<b-table>`, the slot names are derivations of the column field names (i.e. `head(fieldName)`, `cell(fieldName)`, etc).

[2019-09-17 15:59] piotrtomiak commented on #6
Ok, this problem is harder to solve I think. I'll have and look and we'll see if there is anything we could do about it.

[2019-09-17 21:45] tmorehouse opened #7 "Vue directive (attribute): missing definition field for directive `:argument`"
Directives have the following syntax:

[code]

In the schema, I see that it is possible to define the directive's `name`, `modifiers` and expression (`value`), but there is no mention of the `argument` (which follows the `:`, before any modifiers)

So how does one document the `argument`?

[code]

[2019-09-18 10:38] piotrtomiak commented on #7
@tmorehouse not yet possible. Another thing to add to the spec. I should be able to see to all the problems on Monday.

[2019-09-19 13:16] gejgalis opened #8 "Attribute enum autosuggestion"
I have prepared `my-foo` tag with `size` attribute which is enumeration of values `m` and `s`. WebStorm/IntelliJ doesn't suggest those values.

Is my JSON correct or this is missing feature in WebStorm/IntelliJ ?

Having such feature would be veeeeeeery useful for cases like:
 * colour palettes
 * sizes
 * types of buttons
 * etc...

[code]

![image](https://user-images.githubusercontent.com/14847

[2019-09-19 13:58] piotrtomiak commented on #8
@gejgalis Your JSON is correct. The easiest way to ensure is to validate it against the schema :) Unfortunately there is still quite a few unimplemented features in the IDE. Looks like I need to create a table, which summarizes supported features of `web-types` in WebStorm (and other IDEs)

[2019-09-19 14:08] piotrtomiak commented on #6
How about simply replacing `name` with `pattern`:
[code]
and
[code]
Would that be sufficient from your perspective?

As far as element IDs are concerned, if those are HTML elements we could add `reference` property with XPath matching HTML element IDs. Did I got it right?

[2019-09-19 14:13] piotrtomiak commented on #7
@tmorehouse What would you like to document about `argument`? As far as I understand it could be string representing anything. Do you think about some pattern matching or HTML references, similarly to modifiers, or is it just about having a description?

[2019-09-19 14:19] tmorehouse commented on #7
Mainly the description for the argument (although pattern matching would be optionally good).  In our case the argument part of the directive is typically an HTML Element ID.

[2019-09-19 14:23] tmorehouse commented on #6
Element IDs could be anything (as long as it is a valid HTML ID).

Pattern as an alternative to name would be good (name is also still handy).

It also depends on how it is presented to the user... either as a pattern or name, and if auto-complete is available or just a prompt of the possible arguments

[2019-09-19 14:33] piotrtomiak commented on #6
Hmm, if we leave the name than I can imagine following code completion item:

cell(name) *cell\([a-zA-Z_$][a-zA-Z_$0-9]***\)*

Which upon completion results in (`|` shows caret position):
[code]

[2019-09-19 14:52] tmorehouse commented on #6
That might work well...

[2019-09-19 17:22] gejgalis commented on #8
@piotrtomiak features table with planned and already implemented would be great!

[2019-09-20 09:31] piotrtomiak commented on #7
Web-types schema has been updated.

[2019-09-20 09:31] #7 closed

[2019-09-20 09:32] piotrtomiak commented on #6
Web-types schema has been updated.

[2019-09-20 09:32] #6 closed

[2019-09-30 22:44] m-thomson opened #11 "How to add web-types to package.json exactly?"
I might be missing something but how exactly is one supposed to add web-types to package.json?

The docs only say:

But that's not clear to me. Should the property be an array or an object? Should the value(s) point to the web-type definition *folder*, its `package.json` file, its `*.web-types.json` file? Where?

Please provide an example. Thanks.

[2019-10-01 08:22] #11 closed

[2019-10-01 08:22] piotrtomiak commented on #11
@m-thomson Thanks for feedback. I've updated documentation. Let me know if something is still unclear!

[2019-10-01 19:32] m-thomson commented on #11
Great, thanks for the quick response. Do you know if anyone is working on web-types for https://vue.ant.design/docs/vue/introduce/ ?

I'd be happy to contribute.

[2019-10-01 20:04] piotrtomiak commented on #11
I've had a look at their repo https://github.com/vueComponent/ant-design-vue and it doesn't seem there is any active or closed PR with generation of web-types. I think it's best to include `web-types` generation into the library build process, similarly to how it's done for `quasar-framework` and others, so I would advise creating an issue and/or PR there.

If you wish to contribute `web-types` fo

[2019-10-04 03:59] hackel opened #12 "How should these be used in practice as an end-user?"
I can't seem to get IDEA Ultimate (2019.2.3) to recognize web-types.  As a testcase:
I created a new Vue.js project and installed bootstrap-vue and @web-types/bootstrap-vue.  When editing a Vue template, both `b-form` and `BForm` still show "Unknown html tag" as always.  Oddly, it *will* auto-complete `Form` with no prefix as coming from bootstrap-vue, along with its props.  After doing so, jumpin

[2019-10-04 07:30] piotrtomiak commented on #12
@hackel As an end user you do not have to do anything to use web-types from supported libraries, nor should you install `@web-types/*` packages, which are published for convenience, but are automatically downloaded by IDE. IDEA doesn't have Vue.js plugin bundled, which version of the plugin do you have installed in your IDEA?

[2019-10-04 07:36] hackel commented on #12
Ahh okay, I misunderstood the announcement and this repo then.
My Vue.js plugin is 192.6262.27.

[2019-10-04 07:38] piotrtomiak commented on #12
@hackel No problem. Anyway, the code completion in 2019.2.* should work for you if you use single file component files (*.vue), but if you use inline templates, or you store them in separate HTML files, than you need to try out 2019.3 EAP.

[2019-10-04 08:46] hackel commented on #12
Thank you.  I finally figured out that the download request was being blocked by my proxy.  After allowing `raw.githubusercontent.com` and `registry.npmjs.org`, it is working fine.

[2019-10-04 08:46] #12 closed

[2019-10-04 08:48] piotrtomiak commented on #12
@hackel Awesome! Thanks for sharing the solution.

[2019-10-16 06:08] rxliuli opened #13 "可否添加对 ant-design-vue 的支持？"
我目前在使用 antd 的 vue 版本 <https://vue.ant.design/>，但 IDE 中只有部分标签有提示，而其他的则没有，该功能如果是通过 NPM 库 @web-types 的方式实现的，那么可否将之开放出来便于我们追加最新的标签？

![image](https://user-images.githubusercontent.com/24560368/66892452-5529d200-f01e-11e9-88a0-f2be8d742805.png)

[2019-10-16 06:33] piotrtomiak commented on #4
The pull request has been accepted by schema store team

[2019-10-16 06:33] #4 closed

[2019-10-16 06:45] piotrtomiak commented on #13
@rxliuli I've created an issue in `vue-ant-design` repository to create `web-types` for the package. Feel free to comment there.

[2019-10-16 06:45] #13 closed

[2019-10-16 06:46] piotrtomiak commented on #11
@m-thomson I've created an issue in `vue-ant-design` repository to create `web-types` for the package. Feel free to comment there.

[2019-10-16 06:47] piotrtomiak commented on #2
The shcema has been finally published on Schema store, so you can use either URL - README has been updated with correct URLs.

[2019-10-16 06:47] #2 closed

[2019-10-22 07:59] piotrtomiak commented on #5
@halatas I've implemented support for documentation. It should be released this week or next week in WebStorm 2019.3 EAP

[2019-10-22 08:00] #5 closed

[2019-10-29 10:40] blowsie opened #14 "Docs: How to add css classes to a webtype?"
I'm looking to create a tailwind css webtype, and wondering how I can add css classes?
I checked the schema but it wasn't immediately obvious to me.
Thanks!

[2019-10-29 10:59] piotrtomiak commented on #14
Hi! The CSS support is not done at all. Our main focus so far was on Vue framework elements. I would appreciate any contributions to schema to support CSS. At later stage I will add support within the IDE.

[2019-11-13 11:59] gejgalis commented on #8
Linking with YouTrack issue: https://youtrack.jetbrains.com/issue/WEB-42445

[2019-11-14 11:47] h311x commented on #1
Hey there! Thanks for your work!

So for some reason I'm experiencing the same issue, even though I'm using WebStorm 2019.3 EAP Build #WS-193.5096.13.

I have basically the same setup. 2 project, one connected to another with yarn link.
I noticed that only when I do "File > Reload All From Disk" everything is getting reindexed and webstorm recognizes new types.

[2019-11-14 11:49] gejgalis commented on #1
I have the same issue using LernaJS which uses symlinks between multiple projects.

[2019-11-15 18:00] piotrtomiak commented on #1
@h311x @gejgalis unfortunately problems with stale symlinked folders are a known issue in IntelliJ platform - https://youtrack.jetbrains.com/issue/IDEA-65174 , https://youtrack.jetbrains.com/issue/WEB-25409 .

[2019-11-15 18:11] h311x commented on #1
@piotrtomiak these issues, it seems, have been created a really long time ago... One of them is even ten years ago

Are they going to be solved any time soon? Or is there any info about it?

[2019-11-18 07:08] piotrtomiak commented on #1
@h311x I honestly don't know. The issue has been recognized as a very important now and it seems that it may be resolved in the next release cycle (2020.x). Please vote it and maybe put some comments. It may build up pressure on the core team to fix this. I am sorry for the inconvenience! If possible I'll try to get involved into fixing this.

[2020-02-04 12:10] rxliuli opened #15 "This function seems a bit off"
I feel that this library will become meaningless after vue 3 is used on a large scale, because TypeScript will provide code hints, like many React-TS libraries do. . .

[2020-02-04 12:18] piotrtomiak commented on #15
@rxliuli Thanks for pointing that out. It would be great if that's true :) However, I think that it'll still be hard to get information about slots, events or directive parameters, so good documentation of the library in form of `web-types` will probably be still have it's applicability.

[2020-02-04 12:18] #15 closed

[2020-07-23 15:28] jonhuteau opened #16 "Boolean type expect a value"
Hi,

I'm trying to generate a web-types.json for a custom Vue framework. I can get autocomplete from PHPStorm but boolean type expects a value.

Did I miss something ?

[code]

![image](https://user-images.githubusercontent.com/58468627/88305432-cca53400-cd09-11ea-8408-c01f29b4b0ba.png)

[2020-08-10 12:44] piotrtomiak commented on #16
@jonhuteau Thanks for asking! Sorry for late reply, but I was OOO for the last 3 weeks. Could you please let me know which version of IDE are you using? There is an old syntax with `"type"` property, which is required by some older versions of JB IDEs:
[code]

[2020-08-10 13:56] jonhuteau commented on #16
No problem @piotrtomiak !

I also tried what you suggested but same result.
I'm using PhpStorm 2020.2, Build #PS-202.6397.115, built on July 29, 2020.

[2020-08-10 13:57] piotrtomiak commented on #16
@jonhuteau Thanks! I will investigate.

[2020-08-11 09:15] piotrtomiak commented on #16
@jonhuteau - your web-types JSON is missing `types-syntax` property, so the types are not interpreted at all. Please try:
[code]
I would like to avoid having an implicit `types-syntax` for a better readability of the JSON itself.

[2020-08-11 09:31] jonhuteau commented on #16
Thanks a lot @piotrtomiak, it works as expected with `"types-syntax": "typescript"` attribute !

I was convinced it was only required if you write your library in TS...

Again, thanks for your help !

[2020-08-11 09:31] #16 closed

[2020-08-11 09:36] jonhuteau commented on #8
Any news on this @piotrtomiak ?

[2020-08-11 16:06] piotrtomiak commented on #8
@jonhuteau I plan to improve web-types support in JB IDEs within next 2-3 months, this should be one of the included improvements.

[2020-08-14 17:42] zigzaggin opened #17 "How to generate web-types for local library"
I have an internally developed global component library I would like to generate web-types for. I've built a basic web-types.json file and added a single component to it to test functionality and would like to generate docs for all of the components in our library.

I've attempted to run the extract.sh file, but this appears to try and pull the library off NPM, which will not work with our unpubli

[2020-08-15 01:47] #17 closed

[2020-08-15 01:48] zigzaggin commented on #17
Investigated how Quasar approached the generation of the file and am going to replicate that strategy. Disregard issue.

[2020-08-17 11:53] piotrtomiak commented on #17
Hi! Thanks for asking. The extract script is usable only for already published versions to provide web-types for older versions. As far as extracting info from source it depends on type of documentation you're using in the project. If you use JSDoc, you can try https://www.npmjs.com/package/vue-docgen-web-types . I've published it few minutes ago.

[2020-08-17 14:49] zigzaggin commented on #17
Awesome! Hilariously, I also wrote a quick little script using styleguidists docgen-api after spending time reading through this library and what Quasar did. I will compare what you did with mine and see if I've missed anything. Hopefully this conversation helps other devs in the future, because this feature in intellij is an absolute game changer for us. Thanks for the follow up!

[2020-08-17 15:25] piotrtomiak commented on #17
@zigzaggin Amazing :) If I missed something, or if you would have any suggestions on usability, do not hesitate to contribute. The plugin is hosted in this repo under new folder `gen`.

[2020-09-09 14:30] dancarasco opened #18 "web-types entry in package.json breaks (Vue) syntax highlighting"
The "web-types" entry in package.json seems to be breaking syntax highlighting in the editor, specifically with Vue:

**Without** web-types entry in package.json:

![Screenshot from 2020-09-09 15-21-58](https://user-images.githubusercontent.com/49026110/92610991-3bd1ea00-f2b0-11ea-8dcc-e3966a3c3e51.png)

**With** web-types entry in package.json:

![Screenshot from 2020-09-09 15-23-16](https://user

[2020-09-09 18:04] piotrtomiak commented on #18
@dancarasco - thanks for reporting that! Just in time. I have fixed the issue in Vue plugin already, but failed to cherrypick it to 202 release branch. I've done that just now and the fix will be in the 2020.2.2 release next week.

[2020-09-09 18:04] #18 closed

[2020-09-17 19:12] joeherold opened #19 "web-types.json not loaded in my WebStorm 2020.2.2"
Hey @piotrtomiak ,

as mentioned in the vue global conf amsterdam, I can not get my web-types.json to work on my machine.
Intresting is, it worked on your machine with the exactly same web-types.json file

web-types:
https://gist.github.com/joeherold/c1fd371ad40f706790ace2fda37e11e7

![image](https://user-images.githubusercontent.com/3911545/93516521-71b74400-f92a-11ea-9648-a2329a69dc22.png)
shoul

[2020-09-18 06:43] piotrtomiak commented on #19
@joeherold Coul you share WebStorm log (Help -> Show Log in finder) ? Can you share your library's package.json?

[2020-09-18 10:56] joeherold commented on #19
Hey @piotrtomiak ,

sure, here you are. Log-File is huge... ~8MB

[code]
My Log File is Huge....
[idea.log](https://github.com/JetBrains/web-types/files/5245066/idea.log)

[2020-09-18 12:13] piotrtomiak commented on #19
@joeherold There is nothing in the log, unfortunately (you can delete the link). I've also used the same package.json and the same web-types files. My only guess is that's Windows problem and I'll check it out on Monday.

[2020-09-18 15:35] joeherold commented on #19
THX - curiouse if it is a windows issue

[2020-09-21 07:51] piotrtomiak commented on #19
@joeherold there is one more thing, which comes to my mind. Is your package included directly into the project, or indirectly? Does it have a grey folder, meaning it's indexed, or orange one, meaning it's not?

<img width="339" alt="web-types json 2020-09-21 09-49-54" src="https://user-images.githubusercontent.com/4244523/93743271-08685700-fbf0-11ea-9243-9288aeb90fce.png">

[2020-09-22 10:10] dancarasco opened #20 "Using a configuration file with --config"
Not a bug - just need some help! - Attempting to change/add an array of directories to the 'components' array in WebTypesBuilderConfig, what is the recommended way to pass this into the --config option? Create a new ts file, Implement WebTypesBuilderConfig and all the properties, override them in the constructor and point --config to a new .ts file?

I tend to work mainly with .js and .json files

[2020-09-23 13:31] piotrtomiak commented on #20
The config file is included with `require` so it should be either JSON or JS file. The `ts` typings are there to provide nice reference on the contents.

[2020-09-23 13:31] dancarasco commented on #20
Perfect, thank you!

[2020-09-23 13:31] #20 closed

[2020-09-23 16:53] joeherold commented on #19
I will check it today and inform you

[2020-09-23 22:54] joeherold commented on #19
folder of the package is grey. and yes, it is added directly via **npm i** as a dependency
![image](https://user-images.githubusercontent.com/3911545/94082079-610e3e80-fe00-11ea-8c02-888c09c3fd8f.png)

[2020-09-28 11:48] piotrtomiak commented on #19
@joeherold I was finally able to check this out on Windows and it works for me, except for navigation. The `\\` needs to be replaced with `/` for navigation to components source to work. I should fix the bug soon in the generator pacakge. Could you please replace your `vue-ui` folder with this one [vue-ui.zip](https://github.com/JetBrains/web-types/files/5291959/vue-ui.zip) and let me know if code

[2020-10-05 06:15] BeniRupp opened #21 "Web-types Generation for Vue Components"
Hey @piotrtomiak,

I want to add web-types generation to some other libraries out there. When writing some generator code for parsing Vue components, I ended up in a similar solution you have implemented [here](https://github.com/vuetifyjs/vuetify/pull/9440/files). Then I ask myself if it would be helpful to provide a JavaScript function for extracting web-type information out of a Vue component f

[2020-10-05 06:59] piotrtomiak commented on #21
@BeniRupp The entry point for logic you're proposing is here: https://github.com/JetBrains/web-types/blob/master/scripts/vue/extract-vue.sh . The problem is that it has it's limitation when it comes to documentation and some things, like events or slots. The best way to generate web-types is to use documented source code. If your library is using JSDoc style documentation, you can generate web-typ

[2020-10-05 07:33] BeniRupp commented on #21
Ah, thank you for that pointer! I'll have a look at the script. 👍

Unfortunately, the library I want to add web-types to (PortalVue) is not using JSDoc.

[2020-10-05 12:58] piotrtomiak commented on #21
@BeniRupp I've had a look at the repository (https://github.com/LinusBorg/portal-vue/). You could actually try to keep documentation in web-types and generate MD files from it, or you might want to parse documentation MD files and generate web-types from them.

[2020-10-10 20:28] BeniRupp commented on #21
Thanks @piotrtomiak for having a look at the repository. I really like the idea of treating the source code as the source of truth, so I would prefer the web-types generation based on the code. Nevertheless, I see some advantages in generating web-types based on documentation, since "a random string" as a default value is hard to generate from the sources.

Apart from that, I've tried the `extract

[2020-10-12 07:43] piotrtomiak commented on #21
I would treat the script is a good starting point for creation of web-types JSON. But with your setup, the first version should be manually crafted (I did that for core Vue library and few others). Once you have that, than you could write auto-generation from MD files.

It's best to ship web-types with the library. However, for older versions of libraries you could contribute web-types to the `@we

[2020-11-15 12:50] JasonLandbridge opened #23 "Source pathing is wrong, which prevents navigation"
This is what you currently get in the generated `web-types.json` file:
[code]

But if you fix the pathing manually to:
[code]
Then everything works, is this a bug or should this be changed through the configuration?

This is how I did it:
1. Install vue-docgen-web-types in your project: `npm i vue-docgen-web-types`
2. Add the following to `package.json`
[code]
3. Run the `update-web-types` npm com

[2020-11-15 17:45] piotrtomiak commented on #23
@JasonLandbridge Yes, it is definitely a bug, a wrong kind of slashes is generated on Windows. It would be awesome, if you can create a PR with a fix, otherwise I will have a look at the issue hopefully this week.

[2020-11-15 18:07] JasonLandbridge commented on #23
Sure! I have been able to isolate the issue to [function ensureRelative()](https://github.com/JetBrains/web-types/blob/f1a9ada7d4217764e3618d8850c675d139c474f9/gen/vue-docgen-web-types/src/build.ts#L136) as it is used [here](https://github.com/JetBrains/web-types/blob/f1a9ada7d4217764e3618d8850c675d139c474f9/gen/vue-docgen-web-types/src/build.ts#L182).

A "hack" would be to just stick `.replace('\

[2020-11-15 21:45] piotrtomiak commented on #23
@JasonLandbridge I believe this is a good enough solution :) Could you please create a PR?

[2020-11-16 09:45] JasonLandbridge commented on #23
Sure, I have just created a pull request. I tested the function ensureRelative() in isolation and its working when I feed it the paths but I haven't been able to test in during the build generation. I hope you can give it a quick test :D

[2020-11-25 08:51] piotrtomiak commented on #23
@JasonLandbridge Thanks for the contribution! I've published version 0.1.7 with your fix.

[2020-11-25 08:51] #23 closed

[2020-12-01 11:11] JasonLandbridge commented on #23
Great! I can confirm it is working now! Thanks for your help!

[2020-12-02 16:21] gcusnieux opened #25 "Question about other librairies support"
Hello,

I'm working on a lit-element based web-components library and I would like projects that use it to be able to have autocompletion.
I'm use this project [web-component-analyzer](https://www.npmjs.com/package/web-component-analyzer) to extract the documentation of the components.
Do you think it's possible to generate a web-types.json from a custom-elements.json?

Thx,
Guillaume

[2020-12-02 16:26] piotrtomiak commented on #25
Hi Guillaume!

At this moment, `web-types` specification is supporting only `vue` framework, however I am currently working on support for other frameworks including `web-components`. This also means WebStorm support. Once the specification updates are finished and WebStorm code is updated, I am pretty sure you will be able to convert `custom-elements.json` into `web-types.json`.

[2020-12-16 14:06] SavoInfostream commented on #3
Is Rider supported by web-types? This isn't Vue only, right?

[2020-12-18 08:19] piotrtomiak commented on #3
@SavoInfostream I am not sure I understand your question correct. Web-types in current form support only Vue.js components and work when Vue.js plugin is installed. You can install it into Rider of course. We are planning to extend web-types to support generic use cases and other frameworks.

[2020-12-18 08:29] SavoInfostream commented on #3
Naming is a bit confusing, but I was hoping that [vanilla Web Components](https://developer.mozilla.org/en-US/docs/Web/Web_Components) would be supported. This repository was linked in several discussions about how to add support for these web components in IDEs.
I think you should be more explicit that it's currently Vue only :)

[2020-12-18 08:33] piotrtomiak commented on #3
@SavoInfostream One of our main goals is to support Web Components within up to 2-3 months, we were developing web-types with such support in mind. It's just that we had to focus on a single framework first. I am sorry for the confusion.

[2021-01-20 20:31] xetra11 opened #26 "How can I use web types for Vue.js?"
I just read an article about web-types and their use for Vue.js in WebStorm. However I do not quite understand how I as a developer can have this feature in my IntelliJ IDE. Do I need to download a plugin?

[2021-01-21 15:19] piotrtomiak commented on #26
@xetra11 What would you need web-types for exactly? The feature is included with WebStorm and other JetBrains IDEs and if a particular library ships them, you will benefit from good documentation. If a library you're using do not contain web-types, consider contributing them to the library.

If you wish to use web-types for you local project all you do is to build them and link the file in your pr

[2021-01-27 12:56] dancarasco opened #27 ""Unknown HTML Tag" - IntelliJ 2020.3.2"
web-types version:
`"vue-docgen-web-types": "^0.1.7",`

App:
`"vue": "^2.6.12"`

IntelliJ is giving the following warning message when trying to use web-types with **2020.3.2** (latest release as of writing):

![Screenshot from 2021-01-27 12-52-49](https://user-images.githubusercontent.com/49026110/105993853-c1f39f00-609e-11eb-9b7e-89bacdbf0615.png)

web-types.json has been generated with _no erro

[2021-01-27 13:37] piotrtomiak commented on #27
Hi @dancarasco ! Sorry for the problem! Could you please tell me, where the web-types file is linked from? Is it the project `package.json` or is it a `node_modules` package? Have you tried invalidating caches (File > Invalidate Caches / Restart...) ?

[2021-01-27 13:49] dancarasco commented on #27
Hi @piotrtomiak !

No worries - the web-types file is located in an npm module in the node_modules folder. It is a Vue app (plugin) that is hosted in GitHub's NPM registry. The web-types file is located in the root directory of this npm module (next to package.json) and the module's package.json contains the entry:

`"web-types": "./web-types.json",`

**File -> Invalidate Caches** seems to have no

[2021-01-27 14:00] dancarasco commented on #27
Hey again @piotrtomiak

https://github.com/JetBrains/web-types/issues/19

After reading this similar issue posted, I saw one of your replies mentioned checking if the node_modules folder was indexed or excluded (orange) - turns out mine were excluded.

After right clicking these and setting "Not Excluded" and letting IntelliJ re-index the project, **the web-types started working again!**

So it se

[2021-01-27 14:04] piotrtomiak commented on #27
@dancarasco Your node_modules folder should have following "colors":
<img width="282" alt="logo-bw svg 2021-01-27 15-02-38" src="https://user-images.githubusercontent.com/4244523/106001863-c0cb6d80-60b0-11eb-8041-509c4f6cd256.png">
So some of the packages should be indexed and some others not - we index only direct dependencies from your `package.json` due to performance reasons. If the package wi

[2021-01-27 14:14] dancarasco commented on #27
@piotrtomiak Perfect - this makes sense now. The dependency is included in package.json "dependencies" section, but IntelliJ still marked it as excluded. Not sure if this is something to do with the "@company/package" namespacing convention GitHub registry uses:

![Screenshot from 2021-01-27 14-12-09](https://user-images.githubusercontent.com/49026110/106003002-acd03d80-60a9-11eb-8831-49efd95dbc6e

[2021-01-27 14:18] piotrtomiak commented on #27
@dancarasco Thanks! It looks like an issue with WebStorm. It would be great if you can file an issue in our WebStorm issue tracker: https://youtrack.jetbrains.com/issues/WEB and provide more details about your setup. You can make the issue private.

[2021-01-27 14:19] #27 closed

[2021-03-11 16:37] jcgueriaud1 opened #30 "Question about support for a web component"
Hi,

I'm not sure if I understand how the whole process is working.
My goal is to have a better idea support for a web component.
I would like to try in my side project first:
https://github.com/jcgueriaud1/xof-tree
It's web component based on open-wc starter.
Currently I don't have any support in IntelliJ.

What are the step to do this?
* I should create web-types.json (As a first step I will pro

[2021-03-15 08:52] piotrtomiak commented on #30
Hi @jcgueriaud1! Support for web components is not yet ready. There is still a lot of work to do, so that the new version of web-types works for most of the cases, including Web Components. We are currently planning new support for 2021.2 release. Please follow https://youtrack.jetbrains.com/issue/WEB-39620 .

[2021-03-15 09:02] jcgueriaud1 commented on #30
Thanks a lot for your answer.
I'm closing this question and will track the progress.

[2021-03-15 09:02] #30 closed

[2021-03-23 18:14] webistomin opened #31 "Named component import"
Hi! I have a problem when I import vue component with the named export.

I'm making my component library, but let's take a look at `bootstrap-vue`, because they have the same problem.

When I use global vue components via `Vue.component(...)` or `Vue.use(...)` – everything fine. It shows me the description and all available props.
![image](https://user-images.githubusercontent.com/30475699/1121961

[2021-03-25 09:16] piotrtomiak commented on #31
@webistomin I am sorry that you're having this issue. Unfortunately I haven't implemented source -> web-types support in WebStorm. I've filed it as an issue in the product - https://youtrack.jetbrains.com/issue/WEB-50164 . I am now in a process of large improvements to web-types support and this issue will be fixed as part of it. You can expect something in May-June 2021 with the first EAPs of 202

[2021-03-25 09:16] #31 closed

[2021-03-25 10:22] webistomin commented on #31
Thanks!

[2021-04-15 13:39] rchl opened #32 "Missing mkdirp dependency"
The `mkdirp` dependency is not listed in `dependencies`.

[code]

[2021-05-19 06:16] mkarras commented on #31
Can't wait for it to be released! :)

[2021-05-19 12:54] piotrtomiak commented on #31
@mkarras Working on it :)

[2021-05-21 12:02] kallepyorala opened #34 "extract.sh script doesn't work with Vue3"
extract.sh is using Vue2, any plans on Vue3 version?

[2021-05-27 07:22] piotrtomiak commented on #34
@azurinspire The script was designed to scrape information from public Vue libraries, but unfortunately it wasn't really helpful and in each case web-types generation was introduced into the library build process. If you have library sources, it is much better to use `docgen` or a custom build. I don't have plans to support Vue 3, but any PRs are welcome, of course.

[2021-08-01 07:30] mkarras commented on #31
Hey @piotrtomiak, 2021.2 was released some days ago, but locally registered components with intellisense still not working for me. Should it work or was it not released?

[2021-08-02 07:52] piotrtomiak commented on #31
@mkarras Sorry, it shouldn't work yet. Haven't manage to finish - the whole web-types support turned out to be much more complex in implementation than expected (as it happens quite often ;) ). I am working on Vue script setup support now and going to do a round of bugfixing, hopefully this issue will be included. You can watch the issue mentioned above to see when it's released.

[2021-08-02 15:42] tminich opened #37 "Better error handling for vue-docgen-web-types"
I couldn't find any option to get more verbose error messages if something goes wrong during generation, I just get this:
[code]
which is really not helpful at all 😄
One of my vue files is throwing it off, I know as much, but there are plenty and manually trying them one by one would be arduous to say the least.

[2021-08-03 08:15] tminich commented on #37
After a bit of fuzzing around it turned out my issue was JSX parsing is on by default. Might be worth pointing out in the docs =)

[2021-08-18 07:39] piotrtomiak commented on #37
@tminich Thanks for the report. The code for the extension is here: https://github.com/JetBrains/web-types/tree/master/gen/vue-docgen-web-types - feel free to provide a PR with the fix. I am not sure when I'll be able to have a look at this.

[2021-09-11 10:25] jordimarimon opened #39 "Support for custom events, custom element properties and scoped CSS properties"
Hi!

First of all, thank you for putting the time for giving support for library authors to have autocomplete in the IDE.

I work for a company where we have a private library of web components.

We create web applications with this library. For the web applications we use Angular (but this doesn't matter right now).

I was testing the [new schema](https://github.com/JetBrains/web-types/blob/maste

[2021-09-11 10:27] jordimarimon commented on #39
I forgot to add that I'am using the latest version of PhpStorm (2021.2.1).

[2021-09-13 15:19] piotrtomiak commented on #39
@jordimarimon Thank you very much for great examples! Do I get it right that you want to use Web Component with Angular framework? We are working on extending support for web-types to Web Component and Angular in 2021.3. Currently, the Angular support is unaware of web-types, so the mix of them won't work. We are now migrating Angular support to work on top of web-types. For Web Components, we hav

[2021-09-13 20:58] jordimarimon commented on #39
@piotrtomiak Thanks for the quick reply!

Yes, exactly, I'am using web components with Angular!

That's awesome to hear about!

My mistake, I read the new schema really quick and I wasn't aware of this. But now looking closely , I found it [here](https://github.com/JetBrains/web-types/blob/master/v2-preview/web-types.json#L224) in the definition of `base-contribution`. Thanks for pointing it out!

[2021-09-13 20:59] jordimarimon commented on #39
I will close the issue since you already solved any of the doubts I had. Thanks!

[2021-09-13 20:59] #39 closed

[2021-10-29 20:29] minijus commented on #25
@piotrtomiak Any update on this? Is there any way of providing definitions for web components library so WebStorm could autocomplete it?

[2021-11-03 07:22] piotrtomiak commented on #25
@minijus We have just finished major part of the work and in this week's 2021.3 EAP you can create web-types for any frameworks or with no framework at all with CSS properties and classes support. There is a lot of documentation to be made, but you can already provide web-types. See https://github.com/JetBrains/web-types#upcoming-version-20-of-the-standard

[2021-11-10 23:18] marcobeierer commented on #25
I have evaluated the conversation from `custom-elements.json` to `web-types.json` a little bit, but it seemed to cumbersome.

I have thus forked the web-component-analyzer today and started with the implementation of a transformer for web-types:
https://github.com/marcobeierer/web-component-analyzer/tree/master/src/transformers/webtypes

So far the generated `web-types.json` works for basic auto c

[2021-11-18 16:04] piotrtomiak commented on #25
@marcobeierer That's really, really cool. I've made an attempt to support `custom-elements.json`, but it's really complicated and it looks like it replicates stuff, which is in `d.ts` files, doesn't it? So, in the end I think WebStorm will not support `custom-elements.json`.

[2021-11-29 22:43] Illusive7Man opened #40 "Source class for Web Components"
I am trying to add a TypeScript class as a source for my custom element, but I can't figure out how to properly configure it.

Here's one of the things I've tried:

[code]

and this is a typescript file containing the class:

[code]

I have also tried adding path in the "module" option,

Can someone instruct me on how to get a TypeScript class to work as a custom-element's source?
 To be able to n

[2021-12-01 11:52] piotrtomiak commented on #40
Hi!

The `module` can be the name of `node_module` package or a relative path to a TS/JS file. The TS `module` construct is not recognized. Is it possible for you to export the class from the "node_module" package? Or from a file?

[2021-12-01 15:47] Illusive7Man commented on #40
That did it. Removed the module declaration and in the "module" field added the relative path to the .ts file from web-types.
Thanks!

[2022-01-14 11:09] jpradelle opened #44 "Property case conversion"
Hi,
I'm trying to apply js property case conversion for PolymerJS web-types definition and generation based on modified version of marcobeierer's web-component-analyzer fork https://github.com/JetBrains/web-types/issues/25#issuecomment-965831187

I don't get how to make it work
On IntelliJ 2021.3.1 I get that:
![image](https://user-images.githubusercontent.com/24655340/149504952-3b966eb2-c836-4d92

[2022-01-15 17:12] piotrtomiak commented on #44
@jpradelle Thanks for checking out Web-Types!

First of all, the configuration under `framework-config` applies only to the framework of the Web-Types file. So you would need to add e.g. `"framework": "polymer"` and then also add some rules when to enable that framework. The rules will then apply within HTML files, where the framework is enabled. Please note that there can be only one framework en

[2022-01-17 15:44] jpradelle commented on #44
Thank you for this awesome project ! I've been dreaming of that for few years :)

Thanks for your answer, IDE restart was part of the problem, I was able to enable case conversion with one more thing that I don't want to do:

As needed, I added framework configuration:

Updated `package.json`:
[code]

I added framework configuration in `framework-web-types.json`:
[code]

But that's not enough to h

[2022-01-20 15:57] jpradelle commented on #25
@marcobeierer Thanks for the project init. I took the freedom to continue your work. Web-Types project is absolutely awesome, I needed a generator for Polymer and Lit !

I temporary released it here https://www.npmjs.com/package/web-component-analyzer-webtypes and put it in Pull request https://github.com/runem/web-component-analyzer/pull/239 . I hope it will be merged :)

I started few projects w

[2022-01-20 16:09] jpradelle commented on #44
To illustrate my point, in [this project](https://github.com/jpradelle/paper-elements-web-types) in which I only generated web-types files of a component library, I had to duplicate web-types files, one for polymer and one for lit, where the only difference is the framework property. And due to that I don't support other frameworks.

I think it would be awesome if every web-component project relea

[2022-01-20 21:05] piotrtomiak commented on #44
@jpradelle I've finally got some time to look at the issue. Unfortunately, you're right and there is no way to workaround at this point. I will need to figure out a solution, where framework rules affect framework-less Web-Types, when queried in framework context :) The solution will be present in 2022.1 at earliest.

[2022-01-31 11:52] kloshar4o commented on #44
Hey, why am I getting error when I use array of paths

[code]
TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received an instance of Array

[2022-02-01 16:03] piotrtomiak commented on #44
@kloshar4o Which IDE and in which version are you using?

[2022-02-01 16:11] piotrtomiak commented on #44
@jpradelle I've pushed fixes for the issues and they will be present in the next 2022.1 EAP, which will be released at latest next week. Additionally, I've added support for rules per reference, so for instance you'll be able to use:
[code]
instead of global rules, which I think is much better, as there might be some libraries, which make use of `/js/properties` and they would be affected.

[2022-02-21 16:34] jpradelle commented on #44
I can confirm this is working exactly as expected with version 2022.1 EAP (ideaIU-221.4501.155)
With your sample of code for case conversion and removing framework configuration on generic webcomponents web-types definitions.

[2022-02-21 16:34] #44 closed

[2022-02-23 07:53] ddadon10 opened #46 "How to set the offset in the source property?"
I am implementing Web types for my custom web components and I struggle to figure out which value "offset" should be set in order to get the "Go to definitions" working in IntelliJ.

Example:

[code]

It is working if the class in MyComponent.js is the first line in the file:

[code]

But if it is the second line it does not work, for example:

[code]

I tried setting offset to the following value

[2022-02-23 09:15] BurnedToast opened #47 ""slots"-property in V2"
I am a bit confused with the examples and the provided packages.

I want to document a webcomponent that can be used like this:
[code]
The component is written in Angular Elements.

Currently I got this web-types.json:

[code]

The Tag and the attribute is working fine. The only Problem I have, is the missing support for the slot-suggestion. IntelliJ 2021.3.2 dont show any suggestions for the slot

[2022-02-23 15:33] #46 closed

[2022-03-08 20:47] aiphee commented on #3
Hi any update on Web components?

[2022-03-17 09:30] msteller-connyun opened #48 "Example for vanilla js web components"
Can you please add an example for vanilla web components?

[2022-04-07 19:23] kawazoe commented on #47
+1, though in my case, I am using Vue 3

I would also like to know how to specify the scope like we used to be able to do in v1.

I think @piotrtomiak is probably the only person who can answer those questions. Care to chip in?

[2022-05-11 18:37] sseira commented on #48
Yes would love to see how this integrates with Lit components as well

[2022-05-18 06:02] BurnedToast commented on #47
Still searching for a solution - @piotrtomiak can you give us a hint?

[2022-05-20 06:59] Atulin commented on #48
I'm using a combination of `web-component-analyzer-webtypes` and `lit-web-types` dev packages, and can generate `web-types.json` using this unholy abomination of a script:

[code]

It picks up my components just fine without even any JSDoc. Although the functions my components expose aren't there

<details>
<summary>Sample output</summary>

[code]
</details>

Edit: I don't want to rely on the auth

[2022-06-27 20:12] MiniDigger opened #51 "Better support for union types"
Just found this project in hopes of improving auto completion for my lib, its looking not bad!

Sadly I use union types for many values and I am missing auto completion for those.
e.g:
I define my props using vue3's script setup and typescript:
[code]

the generator creates this attribute for "buttonType":
[code]
loosing all the context of my union :/

[2022-08-05 10:05] AMerkuri opened #52 "enums working partially for WebStorm 2020.2.2"
If you have defined CSS declaration in your project for attribute then Webstorm will show you (ctrl + J) CSS specificity instead of providing autocomplete for web-types enums.

css
[code]
html
[code]
web-types.json
[code]

[2022-08-09 21:14] siddharth223437 opened #53 "Priority issue with web-types and named import"
I have component library writtenin vue3. I have successfully integrated `web-types `but when i do a` named import `then i loose  features such as icon does not show up and props code suggestion does not show up. How can i make sure that code completion works with named import as well ?

[2022-08-11 19:08] siddharth223437 opened #54 "web-types not loading with intellij 2021.1"
In my vue 3 component library's package.json i am using  `"web-types": "./ais-components.web-types.json",`. However i am not getting any code suggestion in library consuming app.

`Package.json`

[code]

I also don't see any error in my intellij logs.

[2022-08-12 00:18] nkev opened #55 "Can I use web-types in Goland without package.json?"
Does the web-types system have a dependency on NPM?

I don't use npm or package.json but I want to use the [HTMX webtype](https://github.com/bigskysoftware/htmx/tree/master/editors/jetbrains) in JetBrains Goland.

Is this possible?

[2022-08-24 08:41] piotrtomiak commented on #55
@nkev so far web-types support in WebStorm works only with `package.json`. But I would love to extend that. Could you please explain a little bit more on how are you using HTMX in your project, specifically, what kind of a build system manages the HTMX dependency?

[2022-08-24 08:43] piotrtomiak commented on #54
@siddharth223437 Could you please share an example library code, it's difficult to say why this doesn't work without more information.

[2022-08-24 08:44] piotrtomiak commented on #53
@siddharth223437 Could you please provide some code samples of when the icons show up and when they don't?

[2022-08-25 08:53] piotrtomiak commented on #52
@AMerkuri - thanks for the report. I've filed it in our tracking system - https://youtrack.jetbrains.com/issue/WEB-57066

[2022-08-25 09:57] piotrtomiak commented on #51
@MiniDigger Do you mean `vue-docgen-web-types`? It uses `vue-docgen-api` package to analyze the source code. Please file an issue in `vue-styleguidist` repository. The problematic code is [if (TS_TYPE_NAME_MAP[t.type])](https://github.com/vue-styleguidist/vue-styleguidist/blob/fcdae9d332403357880363537f729e64209745c7/packages/vue-docgen-api/src/utils/getTypeFromAnnotation.ts#L62). The [`TS_TYPE_NA

[2022-08-25 09:58] #51 closed

[2022-08-25 10:12] piotrtomiak commented on #8
@itsJohnnyGrid Are you using `vue-docgen-webtypes` to generate web-types? It depends on `vue-docgen-api`, which is part of [`vue-styleguidist`](https://github.com/vue-styleguidist/vue-styleguidist) project. It looks like `vue-docgen-api` is not processing JSDoc `@type` for props, so it cannot pick up values expressed in that way. If they can process the type from JSDoc, than it could be passed to

[2022-08-25 10:12] #8 closed

[2022-08-25 10:22] #32 closed

[2022-08-25 10:45] piotrtomiak commented on #48
@Atulin thanks for the information. Let's wait for the PR to be merged and than I'll update documentation: https://github.com/runem/web-component-analyzer/pull/239#pullrequestreview-1085208443

[2022-08-25 11:03] piotrtomiak commented on #47
@BurnedToast @kawazoe Sorry for the long delay, I was away. The syntax is ok and it should work. I have checked this in 2022.2 and it seems to work now, so the issue might have been fixed during my absence. Could you please let me know if this is still an issue for you with the latest version?

[2022-08-25 11:05] piotrtomiak commented on #3
@aiphee Web Components are supported since 2022.1 - it took much more than expected to create a generic format.

[2022-08-25 11:07] piotrtomiak commented on #46
@ddadon10 - sorry for a much delayed response, but I was away. The `offset` needs to be set to the location of `class` keyword in the file, so that it can pick up the definition. I assume you are not exporting components from the file, otherwise you can simply provide symbol name.

[2022-08-25 18:39] piotrtomiak commented on #52
The fix will be available in 2022.3.

[2022-08-25 18:39] #52 closed

[2022-08-26 00:24] nkev commented on #55
Thanks @piotrtomiak. My build system is very simple and uses Goland's built-in File Watchers to process SCSS and JS bundles:

<img width="900" alt="image" src="https://user-images.githubusercontent.com/5410916/186789324-2faab437-6e27-49db-8254-5fe86fafd0d4.png">

I don't like having hundreds of NPM dependencies, so I manually keep a `lib` folder with subfolders of libraries. Whenever there is a ch

[2022-08-30 12:27] jpradelle opened #56 "Lit web-types IDE autodetection"
I don't get how to have IDE auto loading `@web-types/lit` webtypes definition.

Here is a simple project:
`package.json`:
[code]

Some component definition in file named `component-web-types.json`:
[code]

And simple demo component `test-new.js`
[code]

I open IDE on that project, run in terminal
[code]

I open `test-new.js`, I expect to have completion on `test-component` or test-component attrib

[2022-08-30 13:10] jpradelle commented on #8
To have it work I had to change `kind` by `"plain"` instead of `"expression"`:

[code]

[2022-08-31 01:35] tolking opened #57 "How to define events for components individually using V2"
I found that the events defined in the V2 are global and do not support defining a component individually.

[code]

But if defined in a component like V1, it works fine but produces an error.

[code]

I would like to ask how to define separate events for components now.

[2022-08-31 14:28] PurpleTape opened #58 "PhpStorm does not see web-types and does not offer hints"
Hello!

I want to use web-types locally in my Vue 3 project so that I can use **PhpStorm** hints in development.

To do this, I did the following:

1. Filled in the web-types property in `package.json`
2. I created a web-types structure in which I specified the `testProp` attribute for the `HelloWorld` component
3. Used the `HelloWorld` component in `App.vue`

However, when trying to specify the `

[2022-09-02 06:13] piotrtomiak commented on #55
Thanks for the explanation. I assume that in lib/htmx for instance there is just the JS file, isn't it?

[2022-09-02 06:27] piotrtomiak commented on #56
@jpradelle My bad. It works like that for Vue packages, but downloads only the JSON file. I thought about implementing auto-download for others, but actually it's gonna be problematic, because of icons and possibly other files one might put into the package. Let's stay with `@web-types/lit` as a dev dependency.

[2022-09-02 06:27] #56 closed

[2022-09-02 06:36] piotrtomiak commented on #8
@jpradelle It depends on whether you expect a property binding, or simple text in the field. My example above was not entirely correct indeed - it is using old format for Vue files, where attributes are translated as Vue component `props`.

[2022-09-02 07:21] nkev commented on #55
No problem. No, the lib/htmx package is actually quite complex. It even has a web-types file :)

<img width="274" alt="image" src="https://user-images.githubusercontent.com/5410916/188081269-9014d9d8-bc46-4606-9c7d-b25391c8e4e5.png">

[2022-09-02 07:26] piotrtomiak commented on #57
Each contribution accepts namespace contributions, so you can add `js` or `css` contributions within them. E.g.:
[code]

[2022-09-02 07:26] #57 closed

[2022-09-02 07:31] piotrtomiak commented on #58
@PurpleTape At this moment Web-types does not work well with imports, there is no merging of the information if the component comes from the source code and web-types. I know it's a problem and I want to implement support ASAP.

[2022-09-02 07:36] piotrtomiak commented on #55
Thank you for the example! It looks like any autodetection mechanism wouldn't work for you. You would need a preference page, where you can explicitly specify, which web-types file to enable, correct?

[2022-09-02 07:45] nkev commented on #55
Yes, I think an IntelliJ dialog would be more configurable and more explicit than automatically traversing project files to find `**/*.web-types` files

[2022-09-09 11:29] BurnedToast commented on #47
Hi - it is still not working for me. I get code completion for properties and tags - but there is no suggestion for slot-names in nested HTML elements.

Using IntelliJ 2022.2.1 Build #IU-222.3739.54

Thanks for your help

[2022-09-10 21:25] kawazoe commented on #47
@BurnedToast It kind of works for me. I get slot suggestions. My problems is with typing. Here's an example of a valid definition:

[code]

Something important here is the priority tag. The way the IDE merges webtypes with every other auto-completion sources means that more priority is given to language services that produces actual guarantied typings like TypeScript. This means that if your compo

[2022-09-12 20:21] piotrtomiak commented on #58
@PurpleTape I've just finished the implementation and support will be present in the first EAP of 2022.3. Please note that in the newest version of Web Types, Vue components are contributed as follows:
[code]

[2022-09-12 20:21] #58 closed

[2022-09-12 20:24] piotrtomiak commented on #14
In 2022.2 CSS is supported with Web Types. Please refer to the schema on where to contribute it.

[2022-09-12 20:24] #14 closed

[2022-09-12 20:25] piotrtomiak commented on #19
@joeherold - I am closing the issue due to inactivity, if you are still experiencing the issues, please open a new one.

[2022-09-12 20:25] #19 closed

[2022-09-13 06:34] BurnedToast commented on #47
@kawazoe You get code completion when you press CTRL+Space within a `slot=""` of a nested HTML-Element?
Sorry for the stupid question - I just want to make sure I didn't misunderstand anything.

[2022-09-13 16:36] kawazoe commented on #47
@BurnedToast Actually, playing a bit with it to try to get a good repro for you, I noticed multiple strange behaviors. Here's the whole list of tests that I did. In all cases, the component doesn't really exist and I am writing webtypes from scratch.

# Component definition
It should suggest the tag for the component. This works:
[code]
![image](https://user-images.githubusercontent.com/406575/189

[2022-09-14 07:30] piotrtomiak commented on #47
@kawazoe Thanks for the nice summary! Improved typing for slots will come in 2022.3, so the problem is already fixed.

`props` are specific to Vue.js framework and they are recognized only if component is contributed to `html`/`vue-components` kind (see https://github.com/JetBrains/intellij-plugins/blob/53a9dcf7e92ef7cefadee3d28cbf253210bfee39/vuejs/resources/web-types/vue%403.2.0.web-types.json#L

[2022-09-15 00:41] kawazoe commented on #47
@piotrtomiak You just blew my mind here. I never realized that webtypes expected a different kind of "contribution" for vue components. I was only looking at the schema itself, and there isn't any framework specific code in there so I just assumed you always had to use "elements".

So, you're saying that by setting the "framework" property, it will extend the schema to include things like "vue-com

[2022-09-16 22:14] kawazoe opened #59 "Support for locally imported components"
In VueJs, component dependencies can be imported locally in each file. They do not have to be registered globally, even for libraries. Since components are exported using the `default` export, they also have no name. Instead, their tag will match the name of the variable that declared the component.  Eg:

[code]

In this case, all three names are valid since they reference the same `default` expor

[2022-10-11 13:49] MatthD commented on #8
@jpradelle When I edit my generated files it works too, but what is the syntax to have this compiled ?

[code]

Compiles to:

[code]

[2022-10-13 07:37] jpradelle commented on #8
@MatthD When you say "compiled" do you mean having your code parsed and webtypes file generated by [web-component-analyzer-webtypes](https://www.npmjs.com/package/web-component-analyzer-webtypes) ? If so your syntax is good, but you have to use the latest version: `2.0.8`

[2022-10-13 08:28] jpradelle opened #60 "How to document CSS custom properties (CSS variables) ?"
I tried with a web-types file like
[code]
But it seems not to be working: I don't have completion in CSS file.
Or it's working with some other conditions I don't get. I have something working in some context, but I'm not sure if this is due to web-types file.

[2022-11-03 12:35] TechAkayy opened #61 "Web types vs type definitions in Vue & Nuxt"
Hi there,

I have watched few of your videos on youtube and I have a pretty good understanding of what web types are. Though, one thing still is unclear, would be great if you can clarify for me and for anyone reading this thread.

Typescript provides the necessary information for IDEs (for eg, Volar in vs-code is ts-based) and most of the UI libraries like vuetify, quasar etc are already shipping

[2022-11-04 05:32] TechAkayy opened #62 "Web-types on npm for vue 3.2.0"
Hi there,

Looking here (https://github.com/JetBrains/web-types/tree/master/packages/vue), I can see web-types for vue until v3.0.0 and this is the version used when installing `@web-types/vue` from npm

My project currently uses vue 3.2.0 and I would like to install @web-types for this particular version, and I don't find it on npm, rather I could see it under examples here - https://github.com/J

[2022-11-23 10:29] maxacarvalho opened #63 "Is there a solution for scenarios where the components are registered by a dedicated file?"
Hi, I'm trying to solve an issue where my Vue components' code-completion won't work if they are not registered within the `main.ts` file.

Here's the gist of it

### In this case, the code-completion works 😄
[code]

### In this case, the code-completion does not work 😢
[code]

[code]

[2022-11-23 11:39] piotrtomiak commented on #63
@maxacarvalho This is an issue with WebStorm support for Vue. Please file an issue here: https://youtrack.jetbrains.com/issues/WEB

[2022-11-23 11:39] #63 closed

[2022-11-23 11:51] piotrtomiak commented on #62
@TechAkayy Web Types for Vue framework are so far consumed only by JB IDEs and are tied to how the integration is written for the IDE. The problem here is that you cannot really provide complete list of components or directives without analyzing project source code. Current versions of Web Types for Vue used by WebStorm are available here: https://github.com/JetBrains/intellij-plugins/tree/master/

[2022-11-23 11:51] #62 closed

[2022-11-23 11:58] piotrtomiak commented on #61
@TechAkayy I hope I replied to most of your questions in https://github.com/JetBrains/web-types/issues/62. I am really happy you find Web Types useful for your project! Which language is your tool written in?

Web Types are providing more information than TypeScript definition files. In version 2022.3 though, we have finally implemented support for merging the information, and if you have an IDE p

[2022-11-23 12:30] piotrtomiak commented on #60
@jpradelle - I've just tested it with 2022.3 and it works fine. Could you please check with latest 2022.3 RC, or share the whole project?

[2022-11-23 12:37] piotrtomiak commented on #59
@kawazoe This issue should be fixed in the latest 2022.3. You still need to provide the component name in Web Types to have some default name for code completion, however the two sources: Web Types and component source will be properly merged if Web Types contain correct `source` property, which points to the imported component definition.